/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f9ff;
    color: #1b1b1b;
}

/* NAVBAR */
.header {
    background: #0ea5e9;
    padding: 15px 0;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    font-weight: 600;
    border-bottom: 2px solid white;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
}

.hero-text {
    max-width: 50%;
}

.hello {
    font-size: 22px;
    color: #0ea5e9;
}

.name {
    font-size: 60px;
    margin: 10px 0;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
}

.btn {
    background: #0ea5e9;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #0284c7;
}

.btn-outline {
    border: 2px solid #0ea5e9;
    background: transparent;
    color: #0ea5e9;
}

.btn-outline:hover {
    background: #0ea5e9;
    color: #fff;
}

.hero-img img {
    width: 330px;
    height: 330px;
    border-radius: 15px;
    object-fit: cover;
}

/* ABOUT SECTION */
.about-section {
    padding: 60px 10%;
    background: #ffffff;
    border-radius: 12px;
    width: 80%;
    margin: 40px auto;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

/* CONTACT SECTION */
.contact-section {
    text-align: center;
    padding: 60px 10%;
}

.social-icons a {
    font-size: 24px;
    margin: 0 15px;
    color: #0ea5e9;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #0369a1;
}

.contact-form {
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #b0b0b0;
    border-radius: 6px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #0ea5e9;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px 0;
    background: #0ea5e9;
    color: white;
    margin-top: 40px;
}
